<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>피크닉은 피그닉</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/indexStyles.css" rel="stylesheet" />
 		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- 이미지 슬라이드를 위한추가 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
 		<style type="text/css"> 
		a { text-decoration:none } 
		a:visited { color: black; text-decoration: none;}
		</style>
    </head>
    <body>
	
        <audio autoplay controls>
            <source src="../audio/sing.mp3" type="audio/mp3">
        </audio>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">피그닉</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://localhost/listpage/boardRentPage2.html">피크닉 물품대여</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://localhost/listpage/boardplacepage2.html">피크닉 장소추천</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://localhost/listpage/boardReviewPage2.html">피크닉 장소후기</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://localhost/listpage/boardTipPage2.html">피크닉 꿀팁</a></li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">피크닉 플레이스</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">장소 베스트</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">장소 추천</a></li>
                                <li><a class="dropdown-item" href="#!">장소 후기</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <div id="loglog">
                    <div v-if="!logCheck">
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" >
                            <i class="bi-cart-fill me-1"></i>
                            <a href="ycon/login">로그인</a>
                        </button>
                       <a style="color: aliceblue;"></a>
                        <button class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            <a href="ycon/signup">회원가입</a>
                        </button>
                    </form>
                    </div>
                    <div v-else>
                    <form class="d-flex">
                     
                      {{datas.userNickname}}님 환영합니다
                      
                     <!-- <input type="text" id="dataView"> -->
                     
                    	<button class="btn btn-outline-dark" onclick="logout()">
                            <i class="bi-cart-fill me-1"></i>
                            <a href="ycon/moveMainPage">로그아웃</a>
                        </button>
                       <a style="color: aliceblue;"></a>
                        <button class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            <a href="ycon/mypage">마이 페이지</a>
                        </button>
                    </form>
                  
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark1 py-5">
        
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> 피크닉의 모든 정보!</h1>
                    <div id ="search">
                    <form class="searchform" action="http://localhost/listpage/searchPage2.html"> 
                    <input style="width: 435px; 
                        height: 64px;
                        background: rgba(255,255,255,1);
                        opacity: 1; border:0;" type="text" id="searchString" name="searchString" v-model="searchString" placeholder="검색어 입력">
                    <input style="width: 60px;
                    height: 64px;
                    color: rgba(255,252,252,1);
                    position: absolute;
                    font-weight: Bold;
                    font-size: 24px;
                    opacity: 1;
                    text-align: left;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    background-color: rgba(255,138,30,1); cursor: pointer;" type="submit" value="검색"></form>
                </div>
                </div>
            </div>

            
        </header>
        <!-- Section-->


        <section class="py-5">
            <div class="w3-section w3-bottombar w3-padding-16" id ="nav">
                <!-- <span class="w3-margin-right">테마:</span>  -->
                <button v-on:click="selectAll" class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>전체보기</button>
                <button v-on:click="selectHan" class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>봄에 가고 싶은 곳</button>
                <button v-on:click="selectBa" class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>여름에 가고 싶은 곳</button>
                <button v-on:click="selectG" class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>별보러 가고 싶은 날</button>
              </div><br>
        </div>
        
           
	 <div id="rentdetail"> 
	<div class="swiper-container">
	<div class="swiper-wrapper">
				  <div class="swiper-slide" v-if="showBoolean" v-for="data in datas"  >
				  <!-- <img src="https://ktsmemo.cafe24.com/p/0401.jpg"> -->
				  <img width="410px" height="408px"  v-bind:src="data.rentImg" >
				  </div>
	</div>

	<!-- 네비게이션 -->
	<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
	<div class="swiper-button-prev"></div><!-- 이전 버튼 -->

	<!-- 페이징 -->
	<div class="swiper-pagination"></div>
</div>
</div>

           
            
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark1">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Pignic Company</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
          <script>
          new Vue({
        	 el: '#search',
        	 data:{
        		 searchString :"",
        		 goSearch : "",
        	 },
        	 methods : {
        		 search(searchString){
        			 this.goSearch +=""+this.searchString;
        		 }
        	 }
          }),
        new Vue({
			el: '#loglog',
			data : {
				logCheck :false,
				
				datas: []
			},
			created: function ()  {
        			axios({
        				method: "get",
        				url: "ycon/checkLogininfo"
        			}).then(resData => {
        				this.datas = resData.data;
        				/* localStorage.setItem('datas', JSON.stringify(this.datas));*/
        				/* sessionStorage.setItem('datas', JSON.stringify(this.datas)); */ 
        				/* localStorage.setItem('email', this.datas.userEmail)
        				localStorage.setItem('nickname', this.datas.userNickname) */
        				/* this.logCheck =true; */
        				 if(sessionStorage.getItem('loginCheck')=="true"){
        					this.logCheck = true;
             				sessionStorage.setItem('email', this.datas.userEmail)
             				sessionStorage.setItem('nickname', this.datas.userNickname)
        				}
        			}).catch(errorData => {
        				alert(errorData);
        			});
        	},
			
		});
        
        var main=new Vue({
			el: '#rentdetail',
			data : {
				showBoolean: false,
				datas: [],
			},
			methods : {
		          showdetail: function(id){
		            location.href = "/detailpage/boardRentdetail.html?rentId=" + id;
		          }
		        },
				/* created:  function ()  {
        			axios({
        				method: "get",
        				
        				url: "/bcon/boardrentpage22?command=rent&rentCateName=all"
        			}).then(resData => {
        				this.datas = resData.data;
        			}).catch(errorData => {
        				alert(errorData);
        			});
        	}, */
        	
        	
    	},
        	
		);
        
         setTimeout (function(){new Swiper('.swiper-container', {

        	slidesPerView : 3, // 동시에 보여줄 슬라이드 갯수
        	spaceBetween : 30, // 슬라이드간 간격
        	slidesPerGroup : 3, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

        	// 그룹수가 맞지 않을 경우 빈칸으로 메우기
        	// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
        	loopFillGroupWithBlank : true,

        	loop : true, // 무한 반복

        	pagination : { // 페이징
        		el : '.swiper-pagination',
        		clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
        	},
        	navigation : { // 네비게이션
        		nextEl : '.swiper-button-next', // 다음 버튼 클래스명
        		prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
        	},
        });
        },800) 
        
        var logout = function(){
            localStorage.clear();
            sessionStorage.clear();
            sessionStorage.removeItem('nickname');
            window.location.href="ycon/moveMainPage";
        }
         
         var nav = new Vue({
             el: "#nav",
             methods: {
               selectAll: function(){
                 axios({
                     method: "get",
                     /* url: "/bcon/boardrentpage22?command=rent&rentCateName=all" */
                    	 url: "/bcon/board/rents?command=rent&rentCateName=all"
                 }).then(resData => {
                   main.showBoolean = true;
                   main.datas = resData.data;
                 }).catch(errorData => {
                     alert(errorData);
                 });
               },
               selectHan: function(){
                 axios({
                     method: "get",
                     /* url: "/bcon/boardrentpage22?command=rent&rentCateName=한강피크닉" */
                     url:"/bcon/board/rents?command=rent&rentCateName=한강피크닉"
                 }).then(resData => {
                   main.showBoolean = true;
                   main.datas = resData.data;
                 }).catch(errorData => {
                     alert(errorData);
                 });
               },
               selectBa: function(){
                 axios({
                     method: "get",
                     /* url: "/bcon/boardrentpage22?command=rent&rentCateName=바다피크닉" */
                     url: "/bcon/board/rents?command=rent&rentCateName=바다피크닉"
                 }).then(resData => {
                   main.showBoolean = true;
                   main.datas = resData.data;
                 }).catch(errorData => {
                     alert(errorData);
                 });
               },
               selectG: function(){
                 axios({
                     method: "get",
                     /* url: "/bcon/boardrentpage22?command=rent&rentCateName=글램핑" */
                     url: "/bcon/board/rents?command=rent&rentCateName=글램핑"
                 }).then(resData => {
                   main.showBoolean = true;
                   main.datas = resData.data;
                 }).catch(errorData => {
                     alert(errorData);
                 });
               }
             }
           });

        </script>
    </body>
</html>
