<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>마이페이지</title>
    <link href="css/mypage.css" rel="stylesheet" />

<style type="text/css">
div.gallery {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 180px;
        }
</style>
</head>
<body>
<div class="header">
    <header>
      <div style="font-size: small; text-align: right; ">
      <button class="btn btn-outline-dark" onclick="logout()">
         <a href="ycon/moveMainPage">로그아웃</a>
      </button>
    </div>
    <a>피그닉 사이트</a>
      <div> 
      <form class="example" action="/searchall" style="margin:auto;max-width:500px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div> <br><br>
  
      <nav>
        <ul class="nav-container" >
          <li class="nav-item"> <a href="#">마이 페이지</a> </li>
        </ul>
      </nav>
    </header>

  </div>
<div id="mypage">
<div class="row">
    <div class="column side" style="background-color:#ffffff; ">
      <ul>
      	<!-- <button id="myBtn">회원정보 수정</button> -->
        <li id="myBtn"><a href="#home">회원정보 수정</a></li> <!-- /* class="active" -->
        <li v-on:click="{selectBoard(),selectPlaceBoard(),selectTipBoard(),selectReviewBoard()}">내가 쓴 글</li>
        <li v-on:click="selectComment()">내가 쓴 댓글</li>
      </ul>
    </div>
    <div class="column middle" style="background-color:#ffffff;">

        <div>
       <form>
            
                    <!-- The Modal -->
    <div id="myModal" class="modal">
 
      <!-- Modal content -->
      <form  action="ycon/captcheck" method="get">
      <div class="modal-content">
        <span>회원정보 수정 전,
			본인확인을 위한 비밀번호를 입력하세요</span><br>
                <h5>비밀번호</h5>
                 <input placeholder="비밀번호를 입력하세요" name="psw" th:value="${psw}"><br>
                  <br>
              
                <input style="background-color: rgb(68, 68, 248);"  type="submit">
                <input class="close" style="background-color: rgb(68, 68, 248);"  type="submit" value="취소"> 
      </div>
        </form>
 		
    </div>
     </form>
     
     
    <div class="gallery" v-if="showBoolean" v-for="rent in rentlist">
            <a target="_blank" href="single.html">
              <!-- <img src="img_5terre.jpg" width="600" height="400"> -->
            </a>
            <div class="desc">
              <h3>{{rent.rentName}}</h3>
              <h5>{{rent.rentCateName}}원</h5>
              <h5>{{rent.rentTime}}시간</h5>
              <h5>{{rent.rentPrice}}원</h5>
            </div>
     </div>
     <br>
    <div class="gallery" v-if="showBoolean2" v-for="tip in tiplist">
            <a target="_blank" href="single.html">
              <!-- <img src="img_5terre.jpg" width="600" height="400"> -->
            </a>
            <div class="desc">
              <p>{{tip.tipTitle}}</p>
              <p>{{tip.tipContent}}</p>
              <p>{{tip.tipDate}}</p>
              <p>{{tip.tipLike}}</p>
            </div>
     </div>
     <div class="gallery" v-if="showBoolean3" v-for="place in placelist">
            <a target="_blank" href="single.html">
              <!-- <img src="img_5terre.jpg" width="600" height="400"> -->
            </a>
            <div class="desc">
               <h3>{{place.placeName}}</h3>
              <h5>{{place.placeContent}}</h5>
              <h5>{{place.userEmail}}</h5>
            </div>
     </div>   
     <div class="gallery" v-if="showBoolean4" v-for="review in reviewlist">
            <a target="_blank" href="single.html">
              <!-- <img src="img_5terre.jpg" width="600" height="400"> -->
            </a>
            <div class="desc">
              <p>{{review.userEmail}}</p>
              <p>{{review.reviewTitle}}</p>
              <p>{{review.reviewContent}}</p>
              <p>{{review.reviewScore}}</p>
            </div>
     </div>    
        </div>
    </div>
  </div>
</div>
  <div class="footer">
    <p>운영자: 권대안, 박서은, 방지원, 유영훈<br>
      게시된 정보는 무단으로 배포할 수 없습니다.</a>
      ＠2021</p>
  </div>

</body>
<script>
var logout = function(){
    localStorage.clear();
    sessionStorage.clear();
     window.location.href="ycon/moveMainPage";
}

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];                                          

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


var email = sessionStorage.getItem('email');
var tmp = "/ycon/mypage2?command=rent&myCate=board&useremail="+email+"";
var tmp2 = "/ycon/mypage21?command=rent&myCate=board&useremail="+email+"";
var tmp3 = "/ycon/mypage22?command=rent&myCate=board&useremail="+email+"";
var tmp4 = "/ycon/mypage23?command=rent&myCate=board&useremail="+email+"";
var tmp5 = "/ycon/mypage24?useremail="+email+"";

var nav = new Vue({
    el: "#mypage",
    data: {
        sorted: "",
        showBoolean: false,
        rentlist: [],
        showBoolean2: false,
        tiplist: [],
        showBoolean3: false,
        placelist: [],
        showBoolean4: false,
        reviewlist: [],
        
       
        showBoolean5: false,
        commenttiplist: [],
 
        
    },
    
    methods: {
    	
    	selectBoard: function(){
    		
            axios({
                method: "get",
                url: tmp
            }).then(resData => {
            	nav.showBoolean = true;
            	nav.rentlist = resData.data;
            }).catch(errorData => {
                alert(errorData);
            });
          }, 
          
    	selectTipBoard: function(){
    		
            axios({
                method: "get",
                url: tmp2
            }).then(resData => {
            	nav.showBoolean = true;
            	nav.tiplist = resData.data;
            }).catch(errorData => {
                alert(errorData);
            });
          
          },
          
    	selectPlaceBoard: function(){
      		
            axios({
                method: "get",
                url: tmp4
            }).then(resData => {
            	nav.showBoolean2 = true;
            	nav.placelist = resData.data;
            }).catch(errorData => {
                alert(errorData);
            });
          },
          
          selectReviewBoard: function(){
      		
              axios({
                  method: "get",
                  url: tmp3
              }).then(resData => {
              	nav.showBoolean3 = true;
              	nav.reviewlist = resData.data;
              }).catch(errorData => {
                  alert(errorData);
              });
            },
            
    	
      
          
      selectComment: function(){
       axios({
           method: "get",
           url: "/bcon/boardrentpage22?command=rent&rentCateName=한강 피크닉"
       }).then(resData => {
         main.showBoolean5 = true;
         main.commenttiplist = resData.data;
       }).catch(errorData => {
           alert(errorData);
       });
      },
    }
  });
</script>
</html>