<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">

  <title>피그닉</title>

</head>

<body>

  <div class="header">
    <header>

      <div class="w3-bar w3-border" style="font-size: small; text-align: right;">

        <div id="search">
          <form class="searchform" action="http://localhost/listpage/searchPage.html">
            <input id="searchString" type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 350px;"
              name="searchString" v-model="searchString" placeholder="업체명, 장소명, 후기 or 팁 제목으로 검색해보세요!">
            <input class="w3-bar-item w3-button w3-mobile" style="cursor: pointer;" type="submit" value="검색">
          </form>
        </div>

        <div id="loglog">

          <div v-if="!logCheck">
            <a href="../ycon/login" class="w3-bar-item w3-button w3-mobile">로그인</a>
            <a href="../ycon/signup" class="w3-bar-item w3-button w3-mobile">회원가입</a>
          </div>

          <div v-else>
            {{nickname}}님 환영합니다
            <a href="../ycon/moveMainPage" onclick="logout()" class="w3-bar-item w3-button w3-mobile">로그아웃</a>
            <a href="../ycon/mypage" class="w3-bar-item w3-button w3-mobile">마이페이지</a>
          </div>

        </div>

      </div>

      <p class="w3-wide" style="font-size: 30px;"><a href="/index.html">피그닉</a></p>

      <nav>
        <ul class="nav-container">
          <li class="nav-item"> <a href="/listpage/boardRentPage.html">피크닉 물품대여</a> </li>
          <li class="nav-item"> <a href="/listpage/boardPlacePage.html">피크닉 장소추천</a> </li>
          <li class="nav-item"> <a href="/listpage/boardReviewPage.html">피크닉 장소후기</a> </li>
          <li class="nav-item"> <a href="/listpage/boardTipPage.html">피크닉 꿀팁</a> </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="row">

    <div id="nav" class="column side" style="background-color:#ffffff; ">
      <ul>
        <li style="cursor: pointer;"><a>전체보기</a></li>
        <li style="cursor: pointer;" v-if="writecheck"><a style="font-size: small" href="/writepage/boardReview.html">&nbsp &nbsp글쓰기✍️</a> </li>

      </ul>
    </div>


    <div class="column middle" style="background-color:#ffffff;">

      <div id="sort">
        <select class="w3-select w3-border" name="sortselect" id="sortselect" @change="onChange($event)">
          <option value="" selected disabled hidden>-정렬방식-</option>
          <option value="1">높은 평점순</option>
        </select>
      </div>

      <br>

      <div id="main">
        <article class="post" v-if="showBoolean" v-for="review in reviewlist" style="cursor: pointer;">
          <section @click="showdetail(review.reviewId)">
            <p>리뷰 제목 : {{review.reviewTitle}}</p>
            <p>평점 : {{review.reviewScore}}</p>
            <p>
              <div class="star-ratings" v-for="star in starlist">
                <div class="star-ratings-fill space-x-2 text-lg" :style="{ width: ratingTo + '%' }">
                <!-- <div class="star-ratings-fill space-x-2 text-lg" :style="{ width: {{star.reviewScore}} }"> -->
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
                <div class="star-ratings-base space-x-2 text-lg">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
              </div>
            </p>

            <p>작성자 : {{review.userEmail}}</p>
            <hr />


          </section>
        </article>
      </div>

    </div>

  </div>


  <div class="footer">
    <p>운영자: 권대안, 박서은, 방지원, 유영훈<br>
      게시된 정보는 무단으로 배포할 수 없습니다.
      ＠2021</p>
  </div>


  <script type="text/javascript">

    var main = new Vue({
      el: "#main",
      data: {
        showBoolean: false,
        reviewlist: [],
        // starlist: []
      },
      created: function () {
        axios({
          method: "get",
          url: "/bcon/board/reviews"
        }).then(resData => {
          main.showBoolean = true;
          main.reviewlist = resData.data;
          // main.starlist = resData.data.reviewScore;
          // console.log(resData.data[0].reviewScore);
        }).catch(errorData => {
          alert(errorData);
        });
      },
      methods: {
        showdetail: function (id) {
          location.href = "/detailpage/boardReviewdetail.html?reviewId=" + id;
        },
        ratingTo() {
          const score = +main.reviewlist.reviewScore * 20;
          return score;
        }
      }
    });

    var sort = new Vue({
      el: "#sort",
      methods: {
        onChange: function (event) {
          if (event.target.value == '1') {
            main.reviewlist.sort(function (a, b) {
              return b.reviewScore - a.reviewScore;
            });
          }
        }
      }
    });

    var loglog = new Vue({
      el: '#loglog',
      data: {
        logCheck: false,
        datas: [],
        nickname: ""
      },
      created: function () {
        if (sessionStorage.getItem('loginCheck') == "true") {
          this.logCheck = true;
          this.nickname = sessionStorage.getItem('nickname');
        }
      },
    });

    var logout = function () {
      localStorage.clear();
      sessionStorage.clear();
      sessionStorage.removeItem('nickname');
      window.location.href = "../ycon/moveMainPage";
    }
    var nav =  new Vue({
        el: "#nav",
        data : {
          writecheck : false
        },
        created : function(){
          if(sessionStorage.getItem('loginCheck')=="true"){
            this.writecheck = true;
            
          }
        }
      });

  </script>

</body>

</html>