<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <title>피그닉</title>
</head>
<body>
    <div class="header">
      <header>
        <div id="loglog">

          <div class="w3-bar w3-border" style="font-size: small; text-align: right;">
            <div v-if="!logCheck">
                <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Search">
                <button class="w3-bar-item w3-button w3-mobile">검색</button>
                  <a href="../ycon/login" class="w3-bar-item w3-button w3-mobile">로그인</a>
                  <a href="../ycon/signup" class="w3-bar-item w3-button w3-mobile">회원가입</a>
            </div>

            <div v-else>

            {{nickname}}님 환영합니다

              <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Search">
                <button class="w3-bar-item w3-button w3-mobile">검색</button>
                <a href="../ycon/moveMainPage" onclick="logout()" class="w3-bar-item w3-button w3-mobile">로그아웃</a>
                <a href="../ycon/mypage" class="w3-bar-item w3-button w3-mobile">마이페이지</a>
          </div>

        </div>

        <p class="w3-wide" style="font-size: 30px; font-weight: bold;"><a href="/index.html">피그닉</a></p>
        
        <nav>
          <ul class="nav-container" >
            <li class="nav-item"> <a href="/listpage/boardRentPage2.html">피크닉 물품대여</a> </li>
            <li class="nav-item"> <a href="/listpage/boardPlacePage2.html">피크닉 장소추천</a> </li>
            <li class="nav-item"> <a href="/listpage/boardReviewPage2.html">피크닉 장소후기</a> </li>
            <li class="nav-item"> <a href="/listpage/boardTipPage2.html">피크닉 꿀팁</a> </li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="row">

      <div id="nav" class="column side" style="background-color:#ffffff; ">
        <ul>
          <li style="cursor: pointer;"><a>전체보기</a></li>
          <li style="cursor: pointer;"><a style="font-size: small" href="/writepage/boardTip.html">&nbsp &nbsp글쓰기✍</a> </li>
        </ul>
      </div>

      <div class="column middle" style="background-color:#ffffff;">

        <div id="sort">
          <select class="w3-select w3-border" name="sortselect" id="sortselect" @change="onChange($event)">
            <option value="" selected disabled hidden>-정렬방식-</option>
            <option value="1">좋아요 순</option>
          </select> 
        </div>

        <br>

        <div id="main">
          <div class="gallery w3-round" v-if="showBoolean" v-for="tip in tiplist" @click="showdetail(tip.tipId)">
            <img v-bind:src="tip.tipImg">
            <div class="desc">
              <p>{{tip.tipTitle}}</p>
              <p>{{tip.tipContent}}</p>
              <p>{{tip.tipDate}}</p>
              <p>{{tip.tipLike}} 좋아요</p>
              <p>{{tip.userEmail}}</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="footer">
      <p>운영자: 권대안, 박서은, 방지원, 유영훈<br>
        게시된 정보는 무단으로 배포할 수 없습니다.</a>
        ＠2021</p>
    </div>


    <script type="text/javascript">

        var main = new Vue({
          el: "#main",
          data: {
              showBoolean: false,
              tiplist: []
          },
          created: function () {
            axios({
                method: "get",
                url: "/bcon/board/tips"
            }).then(resData => {
              this.showBoolean = true;
              this.tiplist = resData.data;
            }).catch(errorData => {
                alert(errorData);
            });
          },
          methods: {
            showdetail : function(id){
              location.href = "/detailpage/boardTipdetail.html?tipId=" + id;
            }
          }
        });   
        
        var sort = new Vue({
          el: "#sort",
          methods: {
            onChange: function(event){
              if(event.target.value == '1'){
                main.tiplist.sort(function(a,b){
                  return b.tipLike - a.tipLike;
                });
              }
            }
          }
        });

        var loglog = new Vue({
          el: '#loglog',
          data : {
            logCheck :false,
            datas: [],
            nickname: ""
          },
          created: function ()  {
            if(sessionStorage.getItem('loginCheck')=="true"){
              this.logCheck = true;
              this.nickname = sessionStorage.getItem('nickname');
            }
          },
        });

        var logout = function(){
          localStorage.clear();
          sessionStorage.clear();
          sessionStorage.removeItem('nickname');
          window.location.href="../ycon/moveMainPage";
        }

    </script>
    
</body>
</html>