<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">

  <title>피그닉</title>
</head>

<body>

  <div class="header">
    <header>

      <div class="w3-bar w3-border" style="font-size: small; text-align: right;">

        <div id="search">
          <form class="searchform" action="http://localhost/listpage/searchPage.html">
            <input id="searchString" type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 350px;"
              name="searchString" v-model="searchString" placeholder="업체명, 장소명, 후기 or 팁 제목으로 검색해보세요!">
            <input class="w3-bar-item w3-button w3-mobile" style="cursor: pointer;" type="submit" value="검색">
          </form>
        </div>

        <div id="loglog">

          <div v-if="!logCheck">
            <a href="../ycon/login" class="w3-bar-item w3-button w3-mobile">로그인</a>
            <a href="../ycon/signup" class="w3-bar-item w3-button w3-mobile">회원가입</a>
          </div>

          <div v-else>
            {{nickname}}님 환영합니다

            <a href="../ycon/moveMainPage" onclick="logout()" class="w3-bar-item w3-button w3-mobile">로그아웃</a>
            <a href="../ycon/mypage" class="w3-bar-item w3-button w3-mobile">마이페이지</a>
          </div>

        </div>

      </div>

      <p class="w3-wide" style="font-size: 30px;"><a href="/index.html">피그닉</a></p>

      <nav>
        <ul class="nav-container">
          <li class="nav-item"> <a href="/listpage/boardRentPage.html">피크닉 물품대여</a> </li>
          <li class="nav-item"> <a href="/listpage/boardPlacePage.html">피크닉 장소추천</a> </li>
          <li class="nav-item"> <a href="/listpage/boardReviewPage.html">피크닉 장소후기</a> </li>
          <li class="nav-item"> <a href="/listpage/boardTipPage.html">피크닉 꿀팁</a> </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="row">

    <div id="nav" class="column side" style="background-color:#ffffff;">
      <ul>
        <li v-on:click="selectAll" style="cursor: pointer; "><a>전체보기</a></li>
        <li v-on:click="selectHan" style="cursor: pointer;"><a>한강 피크닉</a></li>
        <li v-on:click="selectBa" style="cursor: pointer;"><a>바다 피크닉</a></li>
        <li v-on:click="selectG" style="cursor: pointer;"><a>글램핑</a></li>
        <li style="cursor: pointer;" v-if="writecheck"><a style="font-size: small" href="/writepage/boardRent.html" >&nbsp &nbsp글쓰기✍️</a> </li>

      </ul>
    </div>

    <div class="column middle" style="background-color:#ffffff;">

      <div id="sort">
        <select class="w3-select w3-border" name="sortselect" id="sortselect" @change="onChange($event)">
          <option value="" selected disabled hidden>-정렬방식-</option>
          <option value="1">낮은 가격순</option>
          <option value="2">높은 가격순</option>
          <option value="3">가나다순</option>
        </select>
      </div>

      <br>

      <div id="main">
        <div class="gallery w3-round" v-if="showBoolean" v-for="rent in rentlist" @click="showdetail(rent.rentId)"
          style="max-width:400px;max-height:500px">
          <img v-bind:src="rent.rentImg">
          <div class="desc">
            <p>{{rent.rentName}}</p>
            <p>{{rent.rentCateName}}</p>
            <p>{{rent.rentTime}}시간 대여 가능</p>
            <p>{{rent.rentPrice}}원</p>
          </div>
        </div>
      </div>

    </div> <!-- column middle div -->

  </div> <!-- row div -->


  <div class="footer">
    <p>운영자: 권대안, 박서은, 방지원, 유영훈<br>
      게시된 정보는 무단으로 배포할 수 없습니다.
      ＠2021</p>
  </div>


  <script type="text/javascript">

    var main = new Vue({
      el: "#main",
      data: {
        showBoolean: false,
        rentlist: []
      },
      created: function () {
        axios({
          method: "get",
          url: "/bcon/board/rents?command=rent&rentCateName=all"
        }).then(resData => {
          main.showBoolean = true;
          main.rentlist = resData.data;
        }).catch(errorData => {
          alert(errorData);
        });
      },
      methods: {
        showdetail: function (id) {
          location.href = "/detailpage/boardRentdetail.html?rentId=" + id;
        }
      }
    });

    var sort = new Vue({
      el: "#sort",
      methods: {
        onChange: function (event) {
          if (event.target.value == '1') {
            main.rentlist.sort(function (a, b) {
              return a.rentPrice - b.rentPrice;
            });
          } else if (event.target.value == '2') {
            main.rentlist.sort(function (a, b) {
              return b.rentPrice - a.rentPrice;
            });
          } else if (event.target.value == '3') {
            main.rentlist.sort(function (a, b) {
              return a.rentName.localeCompare(b.rentName);
            });
          }
        }
      }
    });

    var nav = new Vue({
    	el: "#nav",
        data :{
          writecheck : false
        },
        created : function(){
          if(sessionStorage.getItem('loginCheck')=="true"){
            this.writecheck = true;
            
          }
        },
      methods: {
        selectAll: function () {
          axios({
            method: "get",
            url: "/bcon/board/rents?command=rent&rentCateName=all"
          }).then(resData => {
            main.showBoolean = true;
            main.rentlist = resData.data;
          }).catch(errorData => {
            alert(errorData);
          });
        },
        selectHan: function () {
          axios({
            method: "get",
            url: "/bcon/board/rents?command=rent&rentCateName=한강피크닉"
          }).then(resData => {
            main.showBoolean = true;
            main.rentlist = resData.data;
          }).catch(errorData => {
            alert(errorData);
          });
        },
        selectBa: function () {
          axios({
            method: "get",
            url: "/bcon/board/rents?command=rent&rentCateName=바다피크닉"
          }).then(resData => {
            main.showBoolean = true;
            main.rentlist = resData.data;
          }).catch(errorData => {
            alert(errorData);
          });
        },
        selectG: function () {
          axios({
            method: "get",
            url: "/bcon/board/rents?command=rent&rentCateName=글램핑"
          }).then(resData => {
            main.showBoolean = true;
            main.rentlist = resData.data;
          }).catch(errorData => {
            alert(errorData);
          });
        }
      }
    });

    var loglog = new Vue({
      el: "#loglog",
      data: {
        logCheck: false,
        datas: [],
        nickname: ""
      },
      created: function () {
        if (sessionStorage.getItem('loginCheck') == "true") {
          this.logCheck = true;
          this.nickname = sessionStorage.getItem('nickname');
        }
      }
    });

    var logout = function () {
      localStorage.clear();
      sessionStorage.clear();
      sessionStorage.removeItem('nickname');
      window.location.href = "/bcon/move/rentPage";
    }

  </script>

</body>

</html>