<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/search.css">

  <title>피그닉</title>
</head>

<body>

  <div class="header">
    <header>

      <div class="w3-bar w3-border" style="font-size: small; text-align: right;">

        <div id="search">
          <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 350px"
            v-model:value="searchString" v-on:keyup.enter="search(searchString)"
            placeholder="업체명, 장소명, 후기 or 팁 제목으로 검색해보세요!">
          <button v-on:click="search(searchString)" class="w3-bar-item w3-button w3-mobile">검색</button>
        </div>

        <div id="loglog">

          <div v-if="!logCheck">
            <a href="../ycon/login" class="w3-bar-item w3-button w3-mobile">로그인</a>
            <a href="../ycon/signup" class="w3-bar-item w3-button w3-mobile">회원가입</a>
          </div>

          <div v-else>
            {{nickname}}님 환영합니다

            <a href="../ycon/moveMainPage" onclick="logout()" class="w3-bar-item w3-button w3-mobile">로그아웃</a>
            <a href="../ycon/mypage" class="w3-bar-item w3-button w3-mobile">마이페이지</a>
          </div>

        </div>

      </div>

      <p class="w3-wide" style="font-size: 30px;"><a href="/index.html">피그닉</a></p>

      <nav>
        <ul class="nav-container">
          <li class="nav-item"> <a href="/listpage/boardRentPage.html">피크닉 물품대여</a> </li>
          <li class="nav-item"> <a href="/listpage/boardPlacePage.html">피크닉 장소추천</a> </li>
          <li class="nav-item"> <a href="/listpage/boardReviewPage.html">피크닉 장소후기</a> </li>
          <li class="nav-item"> <a href="/listpage/boardTipPage.html">피크닉 꿀팁</a> </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="row">
    <div id="nav" class="column side" style="background-color:#ffffff; ">
      <ul>
        <li style="cursor: pointer;"><a>전체보기</a></li>
      </ul>
    </div>

    <div class="column middle" style="background-color:#ffffff;">

      <div id="filter">
        <select class="w3-select w3-border" name="sortselect" id="sortselect" @change="onChange($event)">
          <option value="" selected disabled hidden>-필터적용-</option>
          <option value="0">전체보기</option>
          <option value="1">피크닉 물품대여</option>
          <option value="2">피크닉 장소추천</option>
          <option value="3">피크닉 장소후기</option>
          <option value="4">피크닉 꿀팁</option>
        </select>
      </div>

      <div id="sort">
        <select class="w3-select w3-border" name="sortselect" id="sortselect" @change="onChange($event)">
          <option value="" selected disabled hidden>-정렬방식-</option>
          <option value="1">낮은 가격순</option>
          <option value="2">높은 가격순</option>
          <option value="3">높은 평점순</option>
        </select>
      </div>

      <br>

      <div id="main">

        <article class="post" v-if="showBoolean" style="cursor: pointer;">
          <section class="w3-row" v-if="rentBoolean">
            <div class="gallery" v-for="rent in rentlist" @click="showRentdetail(rent.rentId)">
              <img v-bind:src="rent.rentImg">
              <div class="desc">
                <h3>{{rent.rentName}}</h3>
                <h5>{{rent.rentCateName}}</h5>
                <h5>{{rent.rentTime}}시간</h5>
                <h5>{{rent.rentPrice}}원</h5>
              </div>
            </div>
          </section>

          <hr color="blue">

          <section class="w3-row" v-if="placeBoolean">
            <div class="gallery" v-for="place in placelist" style="cursor: pointer;"
              @click="showPlacedetail(place.placeId)">
              <img v-bind:src="place.placeImg">
              <div class="desc" style="max-height: 144px">
                <h3>{{place.placeName}}</h3>
                <h5>{{place.placeScore}}</h5>
                <h5>{{place.userEmail}}</h5>
              </div>
            </div>
          </section>

          <hr color="blue">

          <section class="w3-row" @click="showReviewdetail(review.reviewId)" v-if="reviewBoolean">
            <table>
              <tr>
                <th>장소 후기 제목</th>
                <th>별점</th>
              </tr>
              <tr v-for="review in reviewlist">
                <td>{{review.reviewTitle}}</td>
                <td>{{review.reviewScore}}</td>
              </tr>
            </table>
          </section>

          <hr color="blue">

          <section class="w3-row" v-if="tipBoolean">
            <div class="gallery" v-for="tip in tiplist" style="cursor: pointer;" @click="showTipdetail(tip.tipId)">
              <img v-bind:src="tip.tipImg">
              <div class="desc">
                <h3>{{tip.userEmail}}</h3>
                <h5>{{tip.tipTitle}}</h5>
                <h5>{{tip.tipDate}}</h5>
                <h5>{{tip.tipLike}}</h5>
              </div>
            </div>
          </section>
        </article>

      </div>

    </div>

  </div>

  </div>

  <script type="text/javascript">

    var main = new Vue({
      el: "#main",
      data: {
        showBoolean: false,
        placeBoolean: false,
        rentBoolean: false,
        reviewBoolean: false,
        tipBoolean: false,
        placelist: [],
        rentlist: [],
        reviewlist: [],
        tiplist: [],
        searchString: ""
      },
      created: function () {
        var params = new URLSearchParams(location.search);
        var searchString = params.get('searchString');

        if (searchString == null) {
          searchString == 'All';
        }
        axios({
          method: "get",
          url: "/scon/search/all?searchString=" + searchString
        }).then(resData => {
          main.showBoolean = true;
          main.placeBoolean = true;
          main.rentBoolean = true;
          main.reviewBoolean = true;
          main.tipBoolean = true;
          main.placelist = resData.data[0];
          main.rentlist = resData.data[1];
          main.reviewlist = resData.data[2];
          main.tiplist = resData.data[3];
        }).catch(errorData => {
          alert(errorData);
        });
      },
      methods: {
        search(searchString) {
          axios({
            method: "get",
            url: "/scon/search/all?searchString=" + this.searchString
          }).then(resData => {
            main.showBoolean = true;
            main.placeBoolean = true;
            main.rentBoolean = true;
            main.reviewBoolean = true;
            main.tipBoolean = true;
            main.placelist = resData.data[0];
            main.rentlist = resData.data[1];
            main.reviewlist = resData.data[2];
            main.tiplist = resData.data[3];
          }).catch(errorData => {
            alert(errorData);
          });
        },
        showRentdetail: function (id) {
          location.href = "/detailpage/boardRentdetail.html?rentId=" + id;
        },
        showTipdetail: function (id) {
          location.href = "/detailpage/boardTipdetail.html?tipId=" + id;
        },
        showPlacedetail: function (id) {
          location.href = "/detailpage/boardPlacedetail.html?placeId=" + id;
        },
        showReviewdetail: function (id) {
          location.href = "/detailpage/boardReviewdetail.html?reviewId=" + id;
        }
      }
    });

    var search = new Vue({
      el: "#search",
      methods: {
        search(searchString) {
          axios({
            method: "get",
            url: "/scon/search/all?searchString=" + this.searchString
          }).then(resData => {
            main.showBoolean = true;
            main.placelist = resData.data[0];
            main.rentlist = resData.data[1];
            main.reviewlist = resData.data[2];
            main.tiplist = resData.data[3];
          }).catch(errorData => {
            alert(errorData);
          });
        },
      },
    });

    var filter = new Vue({
      el: "#filter",
      methods: {
        onChange: function (event) {
          if (event.target.value == '0') { //전체보기
            axios({
              method: "get",
              url: "/scon/search/all?searchString=All"
            }).then(resData => {
              main.showBoolean = true;
              main.placeBoolean = true;
              main.rentBoolean = true;
              main.reviewBoolean = true;
              main.tipBoolean = true;
              main.placelist = resData.data[0];
              main.rentlist = resData.data[1];
              main.reviewlist = resData.data[2];
              main.tiplist = resData.data[3];
            }).catch(errorData => {
              alert(errorData);
            });
          } else if (event.target.value == '1') { //피크닉 물품대여 rent
            main.showBoolean = true;
            main.placeBoolean = false;
            main.rentBoolean = true;
            main.reviewBoolean = false;
            main.tipBoolean = false;
          } else if (event.target.value == '2') { //피크닉 장소추천 place
            main.showBoolean = true;
            main.placeBoolean = true;
            main.rentBoolean = false;
            main.reviewBoolean = false;
            main.tipBoolean = false;
          } else if (event.target.value == '3') { //피크닉 장소후기 review
            main.showBoolean = true;
            main.placeBoolean = false;
            main.rentBoolean = false;
            main.reviewBoolean = true;
            main.tipBoolean = false;
          } else if (event.target.value == '4') { //피크닉 꿀팁 tip
            main.showBoolean = true;
            main.placeBoolean = false;
            main.rentBoolean = false;
            main.reviewBoolean = false;
            main.tipBoolean = true;
          }
        }
      }
    });

    var sort = new Vue({
      el: "#sort",
      methods: {
        onChange: function (event) {
          if (event.target.value == '1') { //낮은 가격순
            main.rentlist.sort(function (a, b) {
              return a.rentPrice - b.rentPrice;
            });
          } else if (event.target.value == '2') { //높은 가격순
            main.rentlist.sort(function (a, b) {
              return b.rentPrice - a.rentPrice;
            });
          } else if (event.target.value == '3') { //평점순
            main.reviewlist.sort(function (a, b) {
              return b.reviewScore - a.reviewScore;
            });
          }
        }
      }
    });

    var loglog = new Vue({
      el: '#loglog',
      data: {
        logCheck: false,
        datas: [],
        nickname: ""
      },
      created: function () {
        if (sessionStorage.getItem('loginCheck') == "true") {
          this.logCheck = true;
          this.nickname = sessionStorage.getItem('nickname');
        }
      },
    });

    var logout = function () {
      localStorage.clear();
      sessionStorage.clear();
      sessionStorage.removeItem('nickname');
      window.location.href = "../ycon/moveMainPage";
    }

  </script>

</body>

</html>