<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"> -->
    <link rel="stylesheet" href="/css/search.css">
    
    <title>피그닉</title>
</head>

<body>
  <div id="main">

    <div class="header">
      <header>
        <div class="w3-bar w3-border" style="font-size: small; text-align: right;">
          <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" v-model:value="searchString" v-on:keyup.enter="search(searchString)" placeholder="Search">
          <button v-on:click="search(searchString)" class="w3-bar-item w3-button w3-mobile">검색</button>
            <a href="/userpage/mypage.html" class="w3-bar-item w3-button w3-mobile">마이페이지</a>
            <a href="/userpage/login.html" class="w3-bar-item w3-button w3-mobile">로그인</a>
            <a href="/userpage/signup.html" class="w3-bar-item w3-button w3-mobile">회원가입</a>
        </div>

        <p class="w3-wide"><a href="/index.html">피그닉</a></p>
    
        <nav>
          <ul class="nav-container">
            <li class="nav-item"> <a href="/listpage/boardRentPage2.html">피크닉 물품대여</a> </li>
            <li class="nav-item"> <a href="/listpage/boardPlacePage2.html">피크닉 장소추천</a> </li>
            <li class="nav-item"> <a href="/listpage/boardReviewPage2.html">피크닉 장소후기</a> </li>
            <li class="nav-item"> <a href="/listpage/boardTipPage2.html">피크닉 꿀팁</a> </li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="row">
      <div id="nav" class="column side" style="background-color:#ffffff; ">
        <ul>
          <li style="cursor: pointer;"><a>전체보기</a></li>
        </ul>
      </div>

      <div class="column middle" style="background-color:#ffffff;">

        <div id="sort">
          <select class="w3-select w3-border" name="sortselect" id="sortselect" @change="onChange($event)">
            <option value="" selected disabled hidden>-정렬방식-</option>
            <option value="1">낮은 가격순</option>
            <option value="2">높은 가격순</option>
            <option value="3">높은 평점순</option>
          </select>
        </div>

        <br>

        <article class="post" v-if="showBoolean" style="cursor: pointer;">
          <section class="w3-row">
            <div class="gallery" v-for="rent in rentlist" @click="showdetail(rent.rentId)">
              <img v-bind:src="rent.rentImg">
              <div class="desc">
                <p>{{rent.rentName}}</p>
                <p>{{rent.rentCateName}}</p>
                <p>{{rent.rentTime}}</p>
                <p>{{rent.rentPrice}}원</p>
              </div>
            </div>
          </section> <br>
          
          <hr color="blue">

          <section class="w3-row">
            <div class="gallery" v-for="place in placelist" style="cursor: pointer;" @click="showdetail(place.placeId)">
              <img v-bind:src="place.placeImg">
              <div class="desc">
                <p style="font-size:0.8rem">{{place.placeName}}</p>
                <p style="font-size:0.8rem">{{place.placeContent}}</p>
                <p style="font-size:0.8rem">{{place.userEmail}}</p>
              </div>
            </div>
          </section> <br>

          <hr color="blue">
          
          <section class="w3-row" @click="showdetail(review.reviewId)">
            <table>
              <tr>
                <th>장소</th>
                <th>상세 내용</th>
                <th>상세 내용</th>
                <th>상세 내용</th>
              </tr>
              <tr v-for="review in reviewlist">
                <td>{{review.userEmail}}</td>
                <td>{{review.reviewTitle}}</td>
                <td>{{review.reviewContent}}</td>
                <td>{{review.reviewScore}}</td>
              </tr>
            </table>
          </section> <br>

          <hr color="blue">

          <section class="w3-row">
            <div class="gallery" v-for="tip in tiplist" style="cursor: pointer;" @click="showdetail(tip.tipId)">
              <img v-bind:src="tip.tipImg">
              <div class="desc">
                <p>{{tip.tipTitle}}</p>
                <p>{{tip.tipContent}}</p>
                <p>{{tip.tipDate}}</p>
                <p>{{tip.tipLike}} 좋아요</p>
                <p>{{tip.userEmail}}</p>
              </div>
            </div>
          </section> <br>
        </article>

      </div>

    </div>

  </div>

  <script type="text/javascript">

    var main = new Vue({
      el: "#main",
      data: {
          showBoolean: false,
          placelist: [],
          rentlist: [],
          reviewlist: [],
          tiplist: [],
          searchString: ""
      },
      created: function () {
        axios({
          method: "get",
          url: "/scon/searchAll?searchString=All"
        }).then(resData => {
          main.showBoolean = true;
          main.placelist = resData.data[0];
          main.rentlist = resData.data[1];
          main.reviewlist = resData.data[2];
          main.tiplist = resData.data[3];
        }).catch(errorData => {
          alert(errorData);
        });
      },
      methods: {
        search(searchString) {
          axios({
            method: "get",
            url: "/scon/searchAll?searchString="+ this.searchString
          }).then(resData => {
            main.showBoolean = true;
            main.placelist = resData.data[0];
            main.rentlist = resData.data[1];
            main.reviewlist = resData.data[2];
            main.tiplist = resData.data[3];
          }).catch(errorData => {
              alert(errorData);
          });
        },
        showdetail: function(id){
          if(id == rent.rentId){
            location.href = "/detailpage/boardRentdetail.html?rentId=" + id;
          }else if(id == place.placeId){
            location.href = "/detailpage/boardPlacedetail.html?placeId=" + id;
          }else if(id == review.reviewId){
            location.href = "/detailpage/boardReviewdetail.html?reviewId=" + id;
          }else if(id == tip.tipId){
            location.href = "/detailpage/boardTipdetail.html?tipId=" + id;
          }
        }
      }
    });

    var sort = new Vue({
      el: "#sort",
      methods: {
        onChange: function(event){
          if(event.target.value == '1'){ //낮은 가격순
            main.rentlist.sort(function(a,b){
              return a.rentPrice - b.rentPrice;
            });
          }else if(event.target.value == '2'){ //높은 가격순
            main.rentlist.sort(function(a,b){
              return b.rentPrice - a.rentPrice;
            });
          }else if(event.target.value == '3'){ //평점순
            main.reviewlist.sort(function(a,b){
              return b.reviewScore - a.reviewScore;
            });
          }
        }
      }
    });

   </script>

</body>
</html>