<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>유저 삭제</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<header>
	   <div style="font-size: small; text-align: center; ">
	   <button class="btn btn-outline-dark" onclick="logout()">
	                         <a href="con/moveMainPage">로그아웃</a>
	   </button>
	 </div>
	   <nav>
  <ul class="nav-container" >
    <li class="nav-item"> <a href="/admin/deleteBoardList.html">게시글 삭제</a> </li>
    <li class="nav-item"> <a href="/admin/deleteUserList.html">유저 탈퇴</a> </li>
  </ul>
</nav>
</header>

<body>

<div id = "main" style="text-align: center">
	<input type="text" name="searchString" v-model:value="searchString" placeholder="공란일시 전체검색">
	<button v-on:click="search(searchString)">검색하기</button>
	
 <section class="w3-row" v-if="showBoolean" >
    <div class="box alt"  >
      <div class="row gtr-uniform">
        <div class="col-4" style="text-align: center">
           <table >
	           <tr>
	            <th>선택</th>
	           	<th>유저이름</th>
	           	<th>유저이메일</th>
	           	<th>유저가입일</th>
	           	<th>탈퇴여부</th>
	           	<th>탈퇴일</th>
	           	<th>삭제</th>
	           </tr>
	           <tr v-for="(user, index) in puserlist" :id="index">
	             <td><input type="checkbox" :id="index" name="checked" v-model:value="checked2[index]"></td><!--@change="update(user.userEmail)"-->
	             <td>{{user.userNickname}}</td>
	             <td>{{user.userEmail}}</td>
	             <td>{{user.assignDate}}</td>
	             <td>{{user.userOut}}</td>
	             <td>{{user.outDate}}</td>
	             <td><button v-on:click="removeUser(user.userEmail)">삭제</button></td>
	           </tr>
           </table>
        </div> 
      </div> 
    </div>
  </section>
  <br><button v-on:click="delAll(checked2,puserlist)">일괄선택 삭제</button>
</div>  
</body>
<script type="text/javascript">
    new Vue({
      el: "#main",
      data: {
          sorted: "",
          showBoolean: false,
          puserlist: [],
    	  searchString : "",
    	  userEmail: "",
    	  checked2:[]
    	  
      },
      methods: {
        
        search(searchString) {
            axios({
                method: "get",
                url: "/scon/search/user?searchString="+this.searchString
            }).then(resData => {
              this.showBoolean = true;
              this.puserlist = resData.data[0];
            }).catch(errorData => {
                alert(errorData);
            });
        },
        removeUser(userEmail){
            axios({
                    method: "get",
                    url: "/con/del/PUser?userEmail="+userEmail
            }).then((response) => { 
          	  this.search(this.searchString); 
            }).catch(errorData => {
            	alert(errorData);
            });
        },
          
        update(userEmail) {
        	this.checked = userEmail;
        },
        delAll(checked2, puserlist) {
        	for(i in this.checked2) {
        		if(i) {
        			this.removeUser(this.puserlist[i].userEmail)
        		}
        	}
        }
      }
      
    });
  
         
</script>
</html>