<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>게시글 삭제</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<header>
	   <div style="font-size: small; text-align: center; ">
	   <button class="btn btn-outline-dark" onclick="logout()">
	                         <a href="../ycon/moveMainPage">로그아웃</a>
	   </button>
	 </div>
</header>

<nav>
  <ul class="nav-container" >
    <li class="nav-item"> <a href="/admin/deleteBoardList.html">게시글 삭제</a> </li>
    <li class="nav-item"> <a href="/admin/deleteUserList.html">유저 탈퇴</a> </li>
  </ul>
</nav>
<body>

<div id = "main" style="text-align: center">
  <input type="text" v-model:value="searchString" placeholder = "검색할 장소 이름을 입력하세요">
  <button v-on:click="search(searchString)">검색</button>

  <section class="w3-row" v-if="showBoolean">
    <div class="box alt"  >
      <div class="row gtr-uniform">
        <div class="col-4">
          <table>
          	<tr>
          	  <th>선택</th>
              <th>삭제여부</th>
              <th>업체 이름</th>
              <th></th>
			</tr>
			<tr v-for="(rent,index) in rentlist">
			  <td><input type="checkbox" :id="index" name="checked1" v-model:value="checked2[index]"></td>
			  <td>{{rent.rentDel}}</td>
			  <td>{{rent.rentName}}</td>
			  <td><button v-on:click="removeRent(rent.rentId)">삭제</button></td>
			</tr>
          </table>
        </div> 
      </div> 
    </div>
  </section>

  <hr color="blue">

  <section class="w3-row" v-if="showBoolean">
    <div id="placelist" class="box alt"  >
      <div class="row gtr-uniform">
        <div class="col-4">
          <table>
          	<tr>
          	  <th>선택</th>
              <th>삭제여부</th>
              <th>장소 이름</th>
              <th></th>
			</tr>
			<tr v-for="(place,index) in placelist">
			  <td><input type="checkbox" :id="index" name="checked2" v-model:value="checked1[index]"></td><!--@change="update(user.userEmail)"-->
			  <td>{{place.placeDel}}</td>
			  <td>{{place.placeName}}</td>
			  <td><button v-on:click="removePlace(place.placeId)">삭제</button></td>
			</tr>
          </table>
        </div> 
      </div>
    </div>
  </section>

  <hr color="blue">

  <section class="w3-row" v-if="showBoolean">
    <div id="tiplist" class="box alt" >
      <div class="row gtr-uniform">
        <div class="col-4">
          <table>
          	<tr>
          	  <th>선택</th>
              <th>삭제여부</th>
              <th>팁 이름</th>
              <th></th>
			</tr>
			<tr v-for="(tip,index) in tiplist">
			  <td><input type="checkbox" :id="index" name="checked3" v-model:value="checked4[index]"></td>
			  <td>{{tip.tipDel}}</td>
			  <td>{{tip.tipTitle}}</td>
			  <td><button v-on:click="removeTip(tip.tipId)">삭제</button></td>
			</tr>
          </table>
        </div> 
      </div> 
    </div> 
  </section>

    <hr color="blue">

  <section class="w3-row" v-if="showBoolean">
    <div id="reviewlist" class="box alt"  >
      <div class="row gtr-uniform">
        <div class="col-4">
          <table>
          	<tr>
          	  <th>선택</th>
              <th>삭제여부</th>
              <th>리뷰 이름</th>
              <th></th>
			</tr>
			<tr v-for="(review,index) in reviewlist">
			  <td><input type="checkbox" :id="index" name="checked4" v-model:value="checked3[index]"></td>
			  <td>{{review.reviewDel}}</td>
			  <td>{{review.reviewTitle}}</td>
			  <td><button v-on:click="removeReview(review.reviewId)">삭제</button></td>
			</tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <hr color="blue">
  <br><button v-on:click="delAll(checked1,checked2,checked3,checked4, placelist,rentlist,reviewlist,tiplist)">일괄선택 삭제</button>

</div>

</body>

<script type="text/javascript">

		var logout = function(){
		  localStorage.clear();
		  sessionStorage.clear();
		  sessionStorage.removeItem('nickname');
		  window.location.href="../ycon/moveMainPage";
		}
		
        new Vue({
          el: "#main",
          data: {
              sorted: "",
              showBoolean: false,
              placelist: [],
              rentlist: [],
              reviewlist:[],
              tiplist:[],
              searchString:"",
              checked1:[],
        	  checked2:[],
              checked3:[],
        	  checked4:[]
          },
          created: function () {
            axios({
                method: "get",
                url: "/scon/search/all?searchString=All"
            }).then(resData => {
              this.showBoolean = true;
              this.placelist = resData.data[0];
              this.rentlist = resData.data[1];
              this.reviewlist = resData.data[2];
              this.tiplist = resData.data[3];
            }).catch(errorData => {
                alert(errorData);
            });
          },
          methods: {
            removeRent(rentId){
                axios({
                        method: "get",
                        url: "/con/del/rent?rentId=" + rentId
                });
                this.search(this.searchString);
              
            },
            removePlace(placeId){
                axios({
                        method: "get",
                        url: "/con/del/place?placeId=" + placeId
                });
                this.search(this.searchString);
              
            },
            removeTip(tipId){
                axios({
                        method: "get",
                        url: "/con/del/tip?tipId=" + tipId
                });
                this.search(this.searchString);
              
            },
            removeReview(reviewId){
                axios({
                        method: "get",
                        url: "/con/del/review?reviewId=" + reviewId
                });
                this.search(this.searchString);
            },
			search(searchString) {
              axios({
                  method: "get",
                  url: "/scon/search/all?searchString="+ this.searchString
              }).then(resData => {
                this.showBoolean = true;
                this.placelist = resData.data[0];
                this.rentlist = resData.data[1];
                this.reviewlist = resData.data[2];
                this.tiplist = resData.data[3];
              }).catch(errorData => {
                  alert(errorData);
              });
            },
            delAll(checked1,checked2,checked3,checked4, placelist,rentlist,reviewlist,tiplist) {
            	for(i in this.checked1) {
            		if(i) {
            			console.log(i)
            			console.log(this.placelist[i])
            			this.removePlace(this.placelist[i].placeId)
            		}
            	}
            	for(i in this.checked2) {
            		if(i) {
            			console.log(i)
            			this.removeRent(this.rentlist[i].rentId)
            		}
            	}
            	for(i in this.checked3) {
            		if(i) {
            			console.log(i)
            			this.removeReview(this.reviewlist[i].reviewId)
            		}
            	}
            	for(i in this.checked4) {
                	if(i) {
                		console.log(i)
            			this.removeTip(this.tiplist[i].tipId)
            		}
            	}
            	this.search(this.searchString);
            }
            
          }
        });
      
   </script>
</html>