<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">


  <title>Document</title>


</head>

<body>
  <div class="header">
    <header>
      <div style="font-size: small; text-align: right; ">
        <a href="/mypage.html">마이페이지</a>
        <a href="/login.html">로그인</a>
        <a href="/signup.html">회원가입</a>
      </div>
      <a>피그닉 사이트</a>
      <div>
        <form class="example" action="searchall" style="margin:auto;max-width:500px">
          <input type="text" placeholder="Search.." name="search2">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div> <br><br>

      <nav>
        <ul class="nav-container">
          <li class="nav-item"> <a href="/listpage/boardRentPage2.html">피크닉 물품대여</a> </li>
          <li class="nav-item"> <a href="/listpage/boardPlacePage2.html">피크닉 장소추천</a> </li>
          <li class="nav-item"> <a href="/listpage/boardReviewPage2.html">피크닉 장소후기</a> </li>
          <li class="nav-item"> <a href="/listpage/boardTipPage2.html">피크닉 꿀팁</a> </li>

        </ul>
      </nav>
    </header>

  </div>

  <div class="row">
    <div class="column side" style="background-color:#ffffff; ">
      <ul>
        <li><a class="active" onclick="goBack()">뒤로 가기</a></li>


      </ul>
    </div>


    <div class="column middle" style="background-color:#ffffff;">




      <div id="boardTip" class="w3-container w3-white w3-margin w3-padding-large">

        <h2><b>{{tipTitle}}</b></h2>
        <br>
        <div v-if="checkImg">
          <img style="height: 263px; width: 464px;" v-bind:src="tipImg">
        </div>
        <br>
        <div style="font-size: 23px;">{{tipContent}}</div><br>
        <br>

        <br>
        <div v-if="checkBoolean">
          <!-- <button style="background-color: rgb(68, 68, 248);">수정</button> -->
          <button v-on:click="removeTip">삭제</button>
        </div>



      </div>






    </div>


  </div>

  <div class="footer">
    <p>운영자: 권대안, 박서은, 방지원, 유영훈<br>
      게시된 정보는 무단으로 배포할 수 없습니다.</a>
      ＠2021</p>
  </div>

  <script>
    new Vue({
      el: "#boardTip",
      data: {
        tipTitle: "",
        tipContent: "",
        tipImg: "",
        checkBoolean: false,
        checkImg: false

      },
      created: function () {
        var params = new URLSearchParams(location.search);

        axios.get('/con/board/tips/' + params.get('tipId'))
          .then(response => {
            this.tipTitle = response.data.tipTitle;
            this.tipContent = response.data.tipContent;
            this.tipImg = response.data.tipImg;
            if (response.data.tipImg != null) {
              this.checkImg = true;
            }
            console.log(response)
          })
          .catch(error => {
            console.log(error)
          });
      },
      mounted: function () {
        var params = new URLSearchParams(location.search);

        axios.get('/con/check/tipwriter/' + params.get('tipId'))
          .then(response => {

            if (response.data == sessionStorage.getItem("email")) {
              this.checkBoolean = true;
            }
          })
          .catch(error => {
            console.log(error)
          });
      },
      methods: {

        removeTip() {
          var params = new URLSearchParams(location.search);

          axios.put('/con/del/tips/' + params.get('tipId'))
            .then(response => {
              console.log(response)
            })
            .catch(error => {
              console.log(error)
            });

          location.href = "http://localhost/listpage/boardTipPage2.html";

        },



        /*removeTip(tipId){
          axios({
                  method: "get",
                  url: "/con/delBoardTip?tipId=" + tipId
          });
      }*/
      }

    });

    function goBack() {
      window.history.back();
    }

  </script>

</body>

</html>