<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">

  <title>Document</title>


</head>

<body>
  <div class="header">
    <header>
      <div class="w3-bar w3-border" style="font-size: small; text-align: right;">

        <div id="search">
          <form class="searchform" action="http://localhost/listpage/searchPage.html">
            <input id="searchString" type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="width: 350px;"
              name="searchString" v-model="searchString" placeholder="업체명, 장소명, 후기 or 팁 제목으로 검색해보세요!">
            <input class="w3-bar-item w3-button w3-mobile" style="cursor: pointer;" type="submit" value="검색">
          </form>
        </div>

        <div id="loglog">

          <div v-if="!logCheck">
            <a href="../ycon/login" class="w3-bar-item w3-button w3-mobile">로그인</a>
            <a href="../ycon/signup" class="w3-bar-item w3-button w3-mobile">회원가입</a>
          </div>

          <div v-else>
            {{nickname}}님 환영합니다
            <a href="../ycon/moveMainPage" onclick="logout()" class="w3-bar-item w3-button w3-mobile">로그아웃</a>
            <a href="../ycon/mypage" class="w3-bar-item w3-button w3-mobile">마이페이지</a>
          </div>

        </div>

      </div>
      <br>
      <a>피그닉 사이트</a>
       <br><br>

      <nav>
        <ul class="nav-container">
          <li class="nav-item"> <a href="/listpage/boardRentPage.html">피크닉 물품대여</a> </li>
          <li class="nav-item"> <a href="/listpage/boardPlacePage.html">피크닉 장소추천</a> </li>
          <li class="nav-item"> <a href="/listpage/boardReviewPage.html">피크닉 장소후기</a> </li>
          <li class="nav-item"> <a href="/listpage/boardTipPage.html">피크닉 꿀팁</a> </li>

        </ul>
      </nav>
    </header>

  </div>

  <div class="row">
    <div class="column side" style="background-color:#ffffff; ">
      <ul>
        <li><a class="active" onclick="goBack()">뒤로 가기</a></li>


      </ul>
    </div>


    <div class="column middle" style="background-color:#ffffff;">
      <div id="boardReview" class="w3-container w3-white w3-margin w3-padding-large">

  
         
         <h2><b>{{reviewTitle}}</b></h2>
      <div style="font-size: 23px;">  별점 : {{reviewScore}}/5점</div><br>   

       <hr>    
        <div style="font-size: 23px;">{{reviewContent}}</div><br>

        <br>
        <div v-if="checkBoolean">
          <!-- <button style="background-color: rgb(68, 68, 248);">수정</button> -->
          <button v-on:click="removeRent" style="background-color: rgb(68, 68, 248);">삭제</button>
        </div>



      </div>




    </div>


  </div>

  <div class="footer">
    <p>운영자: 권대안, 박서은, 방지원, 유영훈<br>
      게시된 정보는 무단으로 배포할 수 없습니다.</a>
      ＠2021</p>
  </div>

  <script>
    new Vue({
      el: "#boardReview",
      data: {
        reviewTitle: "",
        reviewContent: "",
        reviewScore: "",
        placeName: "",
        checkBoolean: false

      },
      created: function () {
        var params = new URLSearchParams(location.search);

        axios.get('/con/board/reviews/' + params.get('reviewId'))
          .then(response => {
            this.reviewTitle = response.data.reviewTitle;
            this.reviewContent = response.data.reviewContent;
            this.reviewScore = response.data.reviewScore;
            this.placeName = response.data.placeName;
            console.log(response)
          })
          .catch(error => {
            console.log(error)
          });
      },
      mounted: function () {
        var params = new URLSearchParams(location.search);

        axios.get('/con/check/reviewwriter/' + params.get('reviewId'))
          .then(response => {

            if (response.data == sessionStorage.getItem("email")) {
              this.checkBoolean = true;
            }
          })
          .catch(error => {
            console.log(error)
          });
      },
      methods: {
        removeRent() {
          var params = new URLSearchParams(location.search);

          axios.put('/con/del/reviews/' + params.get('reviewId'))
            .then(response => {
              console.log(response)
            })
            .catch(error => {
              console.log(error)
            });
            location.href="http://localhost/listpage/boardReviewPage.html";
        },
      }

    });

    function goBack() {
      window.history.back();
    }
    var loglog = new Vue({
        el: '#loglog',
        data: {
          logCheck: false,
          datas: [],
          nickname: ""
        },
        created: function () {
          if (sessionStorage.getItem('loginCheck') == "true") {
            this.logCheck = true;
            this.nickname = sessionStorage.getItem('nickname');
          }
        },
      });

      var logout = function () {
        localStorage.clear();
        sessionStorage.clear();
        sessionStorage.removeItem('nickname');
        window.location.href = "../ycon/moveMainPage";
      }
      var nav =  new Vue({
          el: "#nav",
          data : {
            writecheck : false
          },
          created : function(){
            if(sessionStorage.getItem('loginCheck')=="true"){
              this.writecheck = true;
              
            }
          }
        });
  </script>

</body>

</html>